rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /drinks/{drinkId} {
      allow get, list: if true;
      allow create, update, delete: if true;
    }
    
    match /orders/{orderId} {
      allow get, list: if true;
      allow create, update, delete: if true;
    }
    
    match /categories/{categoryId} {
      allow get, list: if true;
      allow create, update, delete: if true;
    }
    
    match /counters/{counterId} {
      allow get, list: if true;
      allow create, update, delete: if true;
    }
  }
}